<body>
  <!-- Main Grid Section -->
 
  <div class="row">
 
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-3  columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
 
  </div>
 
 
 
  <div class="row">
 
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/200x200" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.</p>
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="http://placehold.it/400x300" />
        </p>
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-6 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a three columns grid panel with an arbitrary height.</p>
      </div>
    </div>
 
  </div>
 
  <!-- End Grid Section -->
 
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

<h2>Create account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<div style="margin-left:20%;">
  <%= devise_error_messages! %>

  <div><%= f.label :university_email %>
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.label :full_name %>
  <%= f.text_field :name, :autofocus => true %></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password %></div><br />

  <div><%= f.label :password_again %>
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.label :school_affiliation, :autofocus => true %>
  <%= f.text_field :year %></div><br />

  <div><%= f.label :department, :autofocus => true %>
  <%= f.text_field :department %></div><br />

  <div><%= f.label "1-3_activities/interests", :autofocus => true %>
  <%= f.text_field :interests %></div><br />

  <div><%= f.submit "Register" %></div>
</div>
<% end %>

<%= render "devise/shared/links" %>
