<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @passenger.email %>
</p>

<p>
  <strong>University:</strong>
  <%= @passenger.university %>
</p>

<p>
  <strong>Year:</strong>
  <%= @passenger.year %>
</p>

<p>
  <strong>Department:</strong>
  <%= @passenger.department %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @passenger.interests %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
