<%= form_for(@car) do |f| %>
<div style="margin-left:20%;">
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origin_city %>
    <%= f.text_field :origin_city %><br />
  </div>
  <div class="field">
    <%= f.label :origin %>
    <%= f.text_field :origin %><br />
  </div>
  <div class="field">
    <%= f.label :destination_city %>
    <%= f.text_field :destination_city %><br />
  </div>
  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %><br />
  </div>
  <div class="field">
    <%= f.label :departure %>
    <%= f.date_select :departure, :use_short_month => true, :start_year => Date.current.year, :end_year => Date.current.year + 1 %>
    &nbsp;at&nbsp;
    <br />
  </div>
  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %><br />
  </div>
  <div class="field">
    <%= f.label :payment %>
    <%= f.text_field :payment %><br />
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
</div>
<% end %>
