<!DOCTYPE html>
<html>
<head>
  <title>RevelRid.es</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">RevelRid.es</a>
        </h1>
      </li>
      <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
    </ul>
 
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">Drivers</a></li>
        <li class="divider"></li>
        <li><a href="#">Passengers</a></li>
        <li class="divider"></li>
      </ul>
 
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <% if passenger_signed_in? %>
          <li><%= link_to("Logout", destroy_passenger_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to "Login", new_passenger_session_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Registration", new_passenger_registration_path %></li>
        <% end %>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
  <!-- End Header and Nav -->

<%= yield %>

</body>
</html>
